# Visual Studio / Visual Studio Code
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.user
*.vspscc
*.vssscc
*.builds
*.pidb
*.log
*.iobj
*.dbmdl
*.pch
*.obj
*.exe
*.dll
*.deploy
*.ipch
*.ncb
*.res
*.resources
*.lib
*.labs
*.aps
*.clb
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.bak
*.cache
*.ilk
*.mdf
*.ldf
*.mds
*.map
*.lup
*.meta
*.mta
*.suo
*.user
*.webinfo
*.scc
*.cachefile
*.clonedir
*.pid
*.pdm
*.obj
*.err
*.log
*.userprefs
*.bak
*.orig
*.DS_Store

# .NET
bin/
obj/
Debug/
Release/
packages/
*.cache
*.suo
*.user
*.users
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.vspx.*
*.sqlite3
*.sqlite
*.sdf
*.opensdf
*.docstates
