<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
       
    </div>
    <!-- Default to the left -->
    <div class="text-right">
        <small>Copyright &copy; 2024 <strong>MedicalDoc</strong>.</small> All rights reserved.
    </div>
</footer>