<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>MedicalDoc</title>
    <partial name="AdminLTE/_Styles" />
</head>


<body class="hold-transition sidebar-mini layout-fixed layout-footer-fixed layout-navbar-fixed">

        <div class="wrapper">
            <partial name="AdminLTE/_TopNavigation" />
            <partial name="AdminLTE/_MainNavigation" />

           
            <div class="content-wrapper">
                <div class="content">
                    <div class="container-fluid">
                        @RenderBody()
                    </div>
                </div>
            </div>
            <partial name="AdminLTE/_ControlSideBar" />
            <partial name="AdminLTE/_Footer" />
        </div>
    
    <partial name="AdminLTE/_Scripts" />

    <!--página  echa por un chapucero, subcontratado por un amigo del alma.-->
    @RenderSection("Scripts", required: false)

</body>
</html>

<script type="text/javascript">



</script>

